.container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .icon {
    width:34px;
    height:34px;
    margin: 6px 8px 0px 3px;
    stroke: greenyellow;

    &--disabled {
      stroke: grey;
    }
  }

  .speed {
    min-width: 55px;
    text-align: right;
  }
}

