button {
  padding: 3px;
  margin: 5px;
}

.console {
  height: 100%;
  width: 100%;
  font-family: Consolas, Courier New;
  background-color: black;
  color: lightgray;
  overflow: auto;
  padding: 5px;
  white-space: nowrap;
  box-sizing: border-box;
}
