<div class="container" [class.container--disabled]="disabled">
  <div class="row">
    <div class="label" [class.label--homed]="isXHomed">X:</div><div class="value" [class.value--homed]="isXHomed">{{x}}</div>
    <div class="label" [class.label--homed]="isYHomed">Y:</div><div class="value" [class.value--homed]="isYHomed">{{y}}</div>
  </div>
  <div class="row">
    <div class="label" [class.label--homed]="isZHomed">Z:</div><div class="value" [class.value--homed]="isZHomed">{{z}}</div>
  </div>

</div>