.container {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-align: left;
  color: lightgray;

  &--disabled {
    color: gray;
  }

  .row {
    display: flex;
    flex-direction: row;

    .label {
      &--homed {
        color: greenyellow;
      }
    }

    .value {
      width: 64px;
      text-align: right;
      margin-right: 10px;
      &--homed {
        color: greenyellow;
      }
    }
  }

}