<div class="backdrop">
  <div class="dialog">
    <div class="content">
      <div class="flow-menu">
        <div class="flow-menu-item" [class.flow-menu-item--active]="activePage === 'info'" (click)="activatePage('info')">basic</div>
        <div class="flow-menu-item" [class.flow-menu-item--active]="activePage === 'klipper'" (click)="activatePage('klipper')">klipper</div>
        <div class="flow-menu-item" [class.flow-menu-item--active]="activePage === 'moonraker'" (click)="activatePage('moonraker')">moonraker</div>
        <div class="flow-menu-item" [class.flow-menu-item--active]="activePage === 'mcu'" (click)="activatePage('mcu')">mcu</div>
        <div class="flow-menu-item" [class.flow-menu-item--active]="activePage === 'execute'" (click)="activatePage('execute')">execute</div>
      </div>
      <div *ngIf="activePage === 'info'" class="flow-content">
        <div class="printer-setup">
          <div>
            Port:
            <select>
              <option *ngFor="let port of ports">{{ port.address }}</option>
            </select>
          </div>
          <div class="printer-setup-name">
            Name: <input type="text"  [(ngModel)]="name" [ngModelOptions]="{standalone: true}"/>
          </div>
        </div>
      </div>
      <div *ngIf="activePage === 'klipper'" class="flow-content">
        <app-config-editor [code]="klipperConfig"></app-config-editor>
      </div>
      <div *ngIf="activePage === 'moonraker'"  class="flow-content">
        <app-config-editor [code]="moonrakerConfig"></app-config-editor>
      </div>
      <div *ngIf="activePage === 'mcu'"  class="flow-content">
        <app-kconfig [addPrinterUseCase]="addPrinterUseCase"></app-kconfig>
        <div class="skip-firmware-container">
          <label>
            <input type="checkbox" [(ngModel)]="skipFirmware" [ngModelOptions]="{standalone: true}">
            skip firmware
          </label>
        </div>
      </div>
      <div *ngIf="activePage === 'execute'"  class="flow-content">
        <app-console class="console" [lines]="lines"></app-console>
      </div>
    </div>
    <div class="footer">
      <button (click)="executeAddPrinter()">Add Printer</button>&nbsp;
      <button (click)="closeDialog()">Cancel</button>
    </div>
  </div>

</div>