@font-face {
  font-family: Consolas;
  src: url(/assets/Consolas.woff);
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: black;
  color:greenyellow;
  font-family: Consolas;
  margin: 0;
  padding: 0;
}

select {
  font-family: Consolas;
}